html{
    body{
      #app{
        position: relative;
      }
      .frame {
        padding-bottom:100px;
      }
      .wrapper {
        width: 1280px;
        margin: 0 auto;
        background-color: #F8F9FB;
        margin-top: 20px;
        margin-bottom: 70px;
      }
    }
}
